@model IEnumerable<IKPortal.TblDesignation>

@{
    ViewBag.Title = "Designations";
}

<h2>Designations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-sm" id="datatable2">
    <thead class="bg-dark text-white no-bold">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DesignationCode }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DesignationCode }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DesignationCode })
                </td>
            </tr>
        }
    </tbody>
</table>
